* {
    box-sizing: border-box
  }

.didascalia {
    display: inline-block;
    width: 300px;
    font-size: 20px;
    position: relative;
    left: 1075px;
    top: 180px;
}

.foto {
    display: block;
    width: 300px;
    max-width: 300px;
    position: relative;
    left: 1000px;
    top: 180px;
    border: 7px solid #C7FF6E;
    border-radius: 10px;
}

.bio {
   text-align: justify;
   position: relative;
   left: 330px;
   top: -400px;
   font-size: 17px;
}

.bio2 {
   text-align: justify;
   position: relative;
   left: 330px;
   top: -375px;
   font-size: 50px;
}